@model IEnumerable<Car.Models.Team>
@{
    Layout = "~/Views/Shared/_LayoutFootball.cshtml";
}

<br />
<p>
    @Html.ActionLink("Create New", "CreateTeams")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coach)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach)
            </td>
            <td>
                @Html.ActionLink("Create", "CreateTeams", new { id = item.Id }) |
                @Html.ActionLink("Edit", "EditTeams", new { id = item.Id }) |
                @Html.ActionLink("TeamDetails", "TeamDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteTeama", new { id = item.Id }) 
            </td>
        </tr>
    }

</table>

@section Footer
{
    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
}




