@model IEnumerable<Car.Models.Car>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Car store</title>
</head>
<body>
    <div class="jumbotron">
        <h3>Cars</h3>
        <table class="table table-bordered">
            <tr>
                <th><p>Name</p></th>
                <th><p>Model</p></th>
                <th><p>Price</p></th>
                <th><p></p></th>
            </tr>

            @*@foreach (Car.Models.Car tt in Model)
                {
                    <tr>
                        <td><p>@tt.Name</p></td>
                        <td><p>@tt.Model</p></td>
                        <td><p>@tt.Price</p></td>
                        <td><p><a href="../Home/Buy/@tt.Id">Buy</a></p></td>
                    </tr>
                }*@

            @foreach (var tt in ViewBag.Cars)
            {
                <tr>
                    <td><p>@tt.Name</p></td>
                    <td><p>@tt.Model</p></td>
                    <td><p>@tt.Price</p></td>
                    <td><p><a href="../Home/Buy/@tt.Id">Buy</a></p></td>
                </tr>
            }
        </table>
        @*@Html.DropDownList("Model", ViewBag.CarList as SelectList)
            <tr>
                <th>
                    @Html.ListBox("countires", new MultiSelectList(new string[] { "Россия", "США", "Китай", "Индия", "Россия", "США", "Китай", "Индия" }))
                </th>
            </tr>
            <tr>
                @using (Html.BeginForm("Buy","Home",FormMethod.Post))
                {
                    @Html.Hidden("CarId","@ViewBag.CarList")
                    @Html.ListBox("countries",
                        new MultiSelectList(new string[] { "Россия", "США", "Китай", "Индия" }))
                    <p><input type="submit" value="Отправить" /></p>
                }
            </tr>*@
    </div>

    @*@helper CaResult(IEnumerable<Car.Models.Car> cars)
        {
            foreach (var tt in cars)
            {
                <tr>
                    <td><p>@tt.Name</p></td>
                    <td><p>@tt.Model</p></td>
                    <td><p>@tt.Price</p></td>
                    <td><p><a href="../Home/Buy/@tt.Id">Buy</a></p></td>
                </tr>
            }
        }
        <h3>Cars</h3>
        @CaResult(Model)*@


    @*<br />

        @helper CreateList(string[] all)
        {
            <ul>
                @foreach (string s in all)
                {
                    <li>@s</li>
                }
            </ul>
        }
        @{
            string[] sities = new string[] { "London", "Pris", "Almaty" };
            string[] carname = new string[] { "BMW", "Audi", "Mersedes", "KIA" };

        }

        <h3>Cities</h3>
        @CreateList(sities)


        <br />

        <h3>Name car</h3>
        @CreateList(carname)


        <br />

        <h3>Name car2</h3>
        @using Car.Helpers
        @Html.CreateList(carname)
        <br />
        @ListHelper.CreateList(Html, carname)*@

</body>
</html>
@section Footer{
    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
}